/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo do formulário */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
}

/* Título do formulário */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo dos rótulos (labels) */
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

/* Estilo dos campos de entrada para todos os inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Estilo do botão de envio */
button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Efeito de hover no botão */
button:hover {
  background-color: #218838;
}

/* Responsividade para dispositivos menores */
@media (max-width: 400px) {
  form {
      width: 100%;
      padding: 15px;
  }
}
